<h1>Workshops - New workshop</h1>

<form action="/create" method="post">

  <fieldset>
    <label for="name">Name: </label></br>
    <input type="text" name="name" placeholder="Name" id="name">
    <label for="description">Description: </label></br>
    <textarea placeholder="Write the description for the workshop..." name="description" cols="80" rows="10" id="description">
    </textarea>
    <input class="button-primary" type="submit" value="Send">
    <a class="button button-outline" href="/">Return To Home</a>
  </fieldset>

</form>
